body {
	font-family: 'Cabin Condensed', sans-serif;
}

.linkit {
	padding-left: 20px;
	padding-top: 20px;
	width: 600px; 
}

.a-big {
	text-decoration: none; 
	color: red; 
	font-size: 15px; 
}

.a-big:hover {
	color: blue; 
}

a {
	text-decoration: none; 
	color: red;
}

a:hover {
	color: blue; 
}