body {
	font-family: 'Merriweather', serif;
}

.linkit {
	padding-left: 10px;
	padding-top: 10px;
	width: 50 %; 
}

.a-big {
	text-decoration: none; 
	color: red; 
	font-size: 20px; 
}

.a-big:hover {
	color: blue; 
}

a {
	text-decoration: none; 
	color: red;
}

a:hover {
	color: blue; 
}