.yle__app > .yle__navigation {
  margin-bottom: 0;
  display: none;
}
.yle__section--article.yle__section--fullWidth {
  margin-bottom: 0;
}
.yle__footer {
  z-index: 1;
}
html #app, body #app {
  min-height: auto;
}
.yle__footer {
  display: none;
}
.yle-header-ad {
  display: none;
}
html #app .yle__app, body #app .yle__app {
  padding-bottom: 0;
}
